# Unnecessary files
/build
/article
/source/test
*.zip
*.pdf
*.curlopt

# macOS DS
.DS_Store

# LaTeX aux files
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.blg
*.bcf
*.fdb_latexmk
*.fls
*.log
*.minted
*.out
*.synctex.gz
*.synctex(busy)
*.toc
*.xml

# Python aux files
/**/__pycache__
# /**/moments/*.dat
# /**/mkct/*.dat
